
      <div class="d-flex no-wrap "*ngFor="let plato of arrComidas">
        <div class="col-8 ">
              <p>{{ plato.plato }}</p>
        </div>
        <div class="col-3">
            <p class="d-flex flex-column ">
                    <span class="d-block ms-auto"
                    >R - {{ plato.formato_racion }} €</span>
                    <span
                    *ngIf="plato.formato_media !== 0"
                    class="d-inline-block ms-auto"
                    >M - {{ plato.formato_media }} €
                </span>
                <span *ngIf="plato.formato_media !== 0" class="d-block ms-auto"
                >T - {{ plato.formato_tapa }} €
            </span>
        </p>
    </div>

      </div>

