div {
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

.tab {
    box-shadow: rgb(173, 173, 173) 1px 2px 10px;
}

.rojo {
    color: grey;
}

.mayusculas {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
}

.recomendado:after {
    content: 'RECOMENDADO';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 20px;
    background-color: crimson;
    color: white;
    border-radius: 50px;
    font-size: 0.7rem;
    animation: prueba 2s alternate infinite;
}

@keyframes prueba {
    from {
        background-color: crimson;
        color: white
    }

    to {
        background-color: white;
        color: crimson;
    }

}

.centrarBoton {
    display: flex;
    justify-content: center;
}

.harsRight {
    margin-right: 0px;
}