<div class="row mt-1">
      <div class="col d-flex flex-row flex-wrap justify-content-center ">
            <button *ngFor="let vinos of arrSecciones" class="btn btn-warning m-1 mayuscula margin"
                  (click)="getAll(vinos)">{{ vinos }}</button>
      </div>
</div>

<div class="row mt-1 mb-1">
      <div class="col d-flex flex-row flex-wrap justify-content-center">
            <button *ngFor="let uva of arrUvas | slice:0:50 " class="btn btn-success m-1 mayuscula margin"
                  (click)="getByFilter(uva)">
                  {{ uva }}
            </button>
      </div>
</div>

<div class="row mb-5">
      <div class="col">
            <h2 class="text-center subrayadoMagico">{{ seccionActual }}</h2>
                  <div class="text-center mb-3">
                        <a routerLink="/menu/navidad"><span
                                    class="btn btn-sm mayuscula margin btn-warning sugerencia subrayadoMagico">Comida De Empresa /
                                    Grupos / Menu De Navidad</span></a>
                  </div>
            <app-vino-card [arrVinos]="arrVinos"></app-vino-card>
      </div>
</div>


