<div class="row mb-5">
    <div class="col">
        <div class="text-center">
            <h3>Comidas De Empresa / Grupos</h3>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col">
        <div class="text-center">
            <h2>Nosotros queremos que elijas tu menú</h2>
            <h5>Te mostramos algunos ejemplos, pero siéntete libre de hacer el que quieras</h5>
            <h5>Sino encuentras algún plato, pídelo, si está en nuestras manos lo haremos!!</h5>
        </div>
    </div>
</div>
<div class="container mb-5">

    <div class="row">
        <div class="col d-flex flex-wrap justify-content-center">

            <div class="mb-2 altura gap-5 m-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-align-center">Ejemplo Para 4 Personas</h5>
                        <h6 class="card-subtitle mb-2 text-muted mb-4">Todo Al Centro Para Compartir</h6>
                        <hr>
                        <p class="card-text">1 - Plato De Jamón De Bellota </p>
                        <p class="card-text">1 - Plato De Pata Al Horno </p>
                        <p class="card-text">1 - Paté De Perdíz </p>
                        <p class="card-text">1 - Pimientos De Padrón Fritos En Virgen Extra </p>
                        <p class="card-text">1 - Gambones A La Plancha </p>
                        <p class="card-text">1 - Gyozas De Gambas 4 Und.</p>
                        <p class="card-text">1 - Secreto Ibérico A La Parrilla Con Patatas</p>
                    </div>
                    <div class="subtitulo">

                        <h5 class="card-subtitle mt-2 text-muted">21 € / Persona</h5>
                        <h6 class="card-subtitle mt-2 text-muted">Bebida - Café - Postre - NO INCLUIDO</h6>
                    </div>
                </div>
            </div>

            <div class=" mb-2 altura gap-5 m-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ejemplo Para 6 Personas</h5>
                        <h6 class="card-subtitle mb-2 text-muted mb-4">Todo Al Centro Para Compartir</h6>
                        <hr>
                        <p class="card-text">2 - Plato De Jamón De Bellota Y Pata Al Horno </p>
                        <p class="card-text">1 - Tartar De Atún Rojo </p>
                        <p class="card-text">1 - Paté De Boletus </p>
                        <p class="card-text">1 - Pimientos De Padrón Fritos En Virgen Extra </p>
                        <p class="card-text">1 - Gambones A La Plancha </p>
                        <p class="card-text">1 - Croquetas De Jamon</p>
                        <p class="card-text">1 - Chateaobriand De 500 Gramos</p>
                    </div>

                    <div class="subtitulo">
                        <h5 class="card-subtitle mt-2 text-muted">18,90 € / Persona</h5>
                        <h6 class="card-subtitle mt-2 text-muted">Bebida - Café - Postre - NO INCLUIDO</h6>
                    </div>
                </div>
            </div>

            <div class=" mb-2 altura gap-5 m-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ejemplo Para 12 Personas</h5>
                        <h6 class="card-subtitle mb-2 text-muted mb-4">Todo Al Centro Para Compartir</h6>
                        <hr>
                        <p class="card-text">3 - Plato De Jamón De Bellota </p>
                        <p class="card-text">3 - Plato De Pata Al Horno </p>
                        <p class="card-text">2 - Tartar De Atún Rojo</p>
                        <p class="card-text">3 - Pimientos De Padrón Fritos En Virgen Extra </p>
                        <p class="card-text">3 - Gambones A La Plancha </p>
                        <p class="card-text">2 - Gyozas De Gambas 4 Und.</p>
                        <p class="card-text">2 - Gyozas De Pato 4 Und.</p>
                        <p class="card-text">2 - Secreto Ibérico A La Parrilla Con Patatas</p>
                        <p class="card-text">2 - Solomillo De Cerdo A La Parrilla Con Patatas</p>
                        <p class="card-text">2 - Entrecot Madurado A La Parrilla Con Patatas</p>
                    </div>

                    <div class="subtitulo">
                        <h5 class="card-subtitle mt-2 text-muted">27 € / Persona</h5>
                        <h6 class="card-subtitle mt-2 text-muted">Bebida - Café - Postre - NO INCLUIDO</h6>

                    </div>
                </div>

            </div>

            <div class=" mb-2 altura m-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ejemplo Para 12 Personas</h5>
                        <h6 class="card-subtitle mb-2 text-muted mb-4">Todo Al Centro Para Compartir</h6>
                        <hr>
                        <p class="card-text">3 - Plato De Jamón De Bellota </p>
                        <p class="card-text">2 - Anchoas Del Cantábrico 0,0 </p>
                        <p class="card-text">4 - Tartar De Carabinero </p>
                        <p class="card-text">3 - Pimientos De Padrón Fritos En Virgen Extra </p>
                        <p class="card-text">3 - Ensaladilla De Patata, Con Atun Rojo JC Mackintosh, Alioli Con Ajo
                            Confitado, Huevo Frito Y Wakame </p>
                        <p class="card-text">4 - Gambones A La Plancha </p>
                        <p class="card-text">1 - Surtido De Maki - 24 Piezas</p>
                        <p class="card-text">3 - Chuletones Madurado De 1 Kg Aprox Con Patatas</p>
                    </div>

                    <div class="subtitulo">
                        <h5 class="card-subtitle mt-2 text-muted">48 € / Persona</h5>
                        <h6 class="card-subtitle mt-2 text-muted">Bebida - Café - Postre - NO INCLUIDO</h6>
                    </div>
                </div>

            </div>


            <div class=" mb-2 altura gap-5 m-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ejemplo Para 8 Personas</h5>
                        <h6 class="card-subtitle mb-2 text-muted mb-4">Todo Al Centro Para Compartir</h6>
                        <hr>
                        <p class="card-text">2 - Plato De Jamón De Bellota Y Queso Curado De Oveja </p>
                        <p class="card-text">2 - Platos De Pata AL Horno </p>
                        <p class="card-text">2 - Espárragos Verdes Al Ajillo</p>
                        <p class="card-text">2 - Ensalada Con Tomate Pelado, Tiras De Aguacate, Cebolla Morada Y
                            Vinagreta</p>
                        <p class="card-text">2 - Ensaladilla Rusa</p>
                        <p class="card-text">2 - Revuelto Campero </p>
                        <p class="card-text">1 - Surtido De Croquetas - 16 Und</p>
                        <p class="card-text">2 - Chateaobriand De 500 gramos cada uno</p>

                    </div>

                    <div class="subtitulo">
                        <h5 class="card-subtitle mt-2 text-muted">27 € / Persona</h5>
                        <h6 class="card-subtitle mt-2 text-muted">Bebida - Café - Postre - NO INCLUIDO</h6>
                    </div>
                </div>
            </div>
            <div class=" mb-2 altura gap-5 m-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ejemplo Para 8 Personas</h5>
                        <h6 class="card-subtitle mb-2 text-muted mb-4">Todo Al Centro Para Compartir</h6>
                        <hr>
                        <p class="card-text">2 - Plato De Jamón De Bellota </p>
                        <p class="card-text">2 - Anchoas Del Cantábrico 0,0 </p>
                        <p class="card-text">2- Tartar De Atún Rojo JC Mackintosh </p>
                        <p class="card-text">2 - Pimientos De Padrón Fritos En Virgen Extra </p>
                        <p class="card-text">2 - Queso Curado </p>
                        <p class="card-text">2 - Espárragos Verdes Al Ajillo</p>
                        <p class="card-text">1 - Surtido De Maki - 16 Piezas</p>
                        <p class="card-text">2 - Churrasco De Pollo A La Parrilla</p>
                        <p class="card-text">2 - Secreto Ibérico A La Parrilla</p>
                    </div>

                    <div class="subtitulo">
                        <h5 class="card-subtitle mt-2 text-muted">32 € / Persona</h5>
                        <h6 class="card-subtitle mt-2 text-muted">Bebida - Café - Postre - NO INCLUIDO</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


