@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Dosis', sans-serif;
    font-size: 0.8rem;
}
.small{
    font-size: 0.7rem;
}
footer {
    background-color: rgb(34, 33, 33);
    color: white;
    width: 99.1%;
    position: fixed;
    bottom: 0px;
   
}