<div class="row mt-3 mb-1">
      <div class="col d-flex flex-row flex-wrap justify-content-center">
            <button class="btn btn-sm mayuscula margin sugerencia" (click)="posicion()">Fuera De Carta</button>
            <button *ngFor="let seccion of arrSecciones" class="btn btn-sm btn-warning mayuscula margin"
                  (click)="getAll(seccion)">{{ seccion }}</button>
      </div>
</div>

<div class="row mb-5">
      <div class="col">
            <h2 *ngIf="visionHi == false" class="text-center subrayadoMagico">{{ seccionActual }}</h2>
            <h2 *ngIf="visionHi == true" class="text-center subrayadoMagico">{{ seccionActual }}</h2>
            <div class="text-center">
                  <span class="mayuscula" *ngIf="seccionActual.toLocaleLowerCase() === 'nigiris - maki rolls'">Mínimo 3
                        Unidades Mezcladas Entre Si</span>
            </div>

            <app-card class="m-1" [arrComidas]="arrComidas"></app-card>
      </div>
</div>
<div class="row mb-5" *ngIf="visionHi == true && seccionActual == 'Sugerencias Del Día Fuera De Carta'  ">
      <img src="../../../assets/images/unafoto.jpg" alt="">
</div>