.mayuscula {
    text-transform: uppercase;
    font-size: 0.9rem;

}

.subrayadoMagico {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.subrayadoMagico:hover,
.subrayadoMagico:focus {
    background-size: 100% 2px;
}

.margin {
    margin: 1px;
}

.isActive {
    background: blue;
}

.btn {
    padding: 0.3px 5px;
}
.sugerencia {
    animation-name: fueraDeCarta;
        animation-duration: 2s;
        animation-iteration-count: infinite;
}

@keyframes fueraDeCarta {
    from {
        background-color: white;
    }

    to {
        background-color: #ffc107;
    }
}