<div class="text-center">

    <a class="nav-link h1" [routerLink]="['/menu/navidad']">Menu Navidad</a>

</div>

<div class="text-center">
    <p>Si reservas en terraza, no te aseguramos que en caso de mal tiempo, podamos reubicarte en el interior</p>
</div>


<script type="text/javascript" src="https://www.covermanager.com/js/iframeResizer.min.js"></script><iframe
    id="restaurante-rincondejuan" title="Reservas"
    src="https://www.covermanager.com/reservation/module_restaurant/restaurante-rincondejuan/spanish" frameborder="0"
    height="550" width="100%" onload="iFrameResize();"></iframe>
    